<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
        </tr>
      </thead>
      <tbody>
        {% for product_id, product_name in products.items() %}
        <tr>
          <td>{{ product_id }}</td>
          <td>{{ product_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
