@{
	ViewData["Title"] = "Edit Product";
}

@model WebApp_Products.Models.ProductModel;

<div class="container mt-5">
	<div class="text-center mb-4">
		<h1 class="display-5">Create/Edit Products</h1>
	</div>

	<form asp-action="AddItem" class="mx-auto" style="max-width: 500px;">
		<div class="mb-3">
			<label asp-for="Name" class="form-label">Product Name</label>
			<input type="text" class="form-control" asp-for="Name" placeholder="Product Name" />
		</div>

		<div class="mb-3">
			<label asp-for="Description" class="form-label">Description</label>
			<input type="text" class="form-control" asp-for="Description" placeholder="Description" />
		</div>

		<div class="mb-4">
			<label asp-for="Price" class="form-label">Price</label>
			<input type="number" class="form-control" asp-for="Price" placeholder="Price" />
		</div>

		<div class="mb-4">
			<label asp-for="Stock" class="form-label">Stock</label>
			<input type="number" class="form-control" asp-for="Stock" placeholder="Stock Quantity" />
		</div>

		<div class="text-center">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>
